:host {
  display: block;
  font-family: "Cinzel", serif;
  background-color: #121212;
  color: #fff;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  position: relative; /* Necesario para que el logo se posicione relativo a la barra */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a2b38;
  padding: 10px 20px;
  border-bottom: 2px solid #ffeba7;
  height: 30px; /* Fijas la altura de la barra para que no se agrande */
}
.logo-img {
  position: absolute;
  top: -20px;     /* Mueve el logo hacia arriba, sobresaliendo */
  left: 20px;     /* Ajusta la distancia desde el borde izquierdo */
  height: 100px;   /* Controla el tamaño del logo */
  width: auto;
  cursor: pointer;
  z-index: 10;    /* Para asegurarse que quede por encima */
}
.brand {
  position: relative; /* Mantiene clickeable el div si lo usas */
}

.nav-center {
  display: flex;
  gap: 15px;
  flex: 1;
  justify-content: center;
  margin-left: 380px;
}

.user-actions {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background: transparent;
  border: 1px solid #ffeba7;
  border-radius: 4px;
  padding: 0.4em 0.8em;
  color: #ffeba7;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.nav-btn:hover {
  background-color: #ffeba7;
  color: #2a2b38;
}

.menu-container {
  padding: 2rem;
  text-align: center;
}

.menu-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.product-card {
  background-color: #1e1e1e;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-info {
  flex: 1; /* Hace que ocupe todo el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Separa descripción arriba y precio+botón abajo */
  padding: 1rem;
}
.product-footer {
  margin-top: auto; /* Esto empuja el bloque hacia abajo */
}

.product-name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.product-desc {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  color: #ffcc00;
  margin-bottom: 10px;
}
.add-cart-btn {
  margin-top: 10px;
  width: 100%;
  background-color: #ffeba7;
  color: #2a2b38;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0.5em 0;
  cursor: pointer;
  transition: 0.2s;
}

.add-cart-btn:hover {
  background-color: #2a2b38;
  color: #ffeba7;
}
