html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
}

.bg-image {
  flex: 8;
  background: url("https://www.lireke.cl/cdn/shop/articles/sushi.jpg?v=1641225745") no-repeat center center;
  background-size: cover;
  }