<div class="container">
  <div class="bg-image"></div>

  <div class="bg-side">
    <div class="right-content">
      <img src="../../../../assets/img/Logo.png" alt="Logo" class="logo" />

      <div class="card">
        <h2 class="title">Registro</h2>

        <div class="field">
          <input type="email" class="input-field" placeholder="Correo electrónico"
            [(ngModel)]="email" name="email" required />
        </div>

        <div class="field">
          <input type="email" class="input-field" placeholder="Re-ingrese correo electrónico"
            [(ngModel)]="confirmEmail" name="confirmEmail" required />
        </div>

        <div class="field">
          <input type="password" class="input-field" placeholder="Contraseña"
            [(ngModel)]="password" name="password" required />
        </div>

        <button class="btn" (click)="register()">Registrar</button>
        <button class="btn-link" (click)="goToLogin()">¿Ya tienes cuenta? Ingresar</button>
      </div>
    </div>
  </div>
</div>
