<header class="navbar">
  <div class="brand" (click)="goHome()">Default</div>

  <nav class="nav-center">
    <button class="nav-btn" (click)="goHome()">Home</button>
    <button class="nav-btn" (click)="goPromociones()">Promociones</button>
    <button class="nav-btn" (click)="goTablas()">Tablas</button>
  </nav>

  <div class="user-actions">
    <button class="nav-btn" (click)="goToProfile()">Hi, {{ currentUser?.email }}</button>
    <button class="nav-btn cart-btn" (click)="goToCart()">
      🛒 Carrito
    </button>
    <button class="nav-btn" (click)="logout()">Cerrar sesión</button>
  </div>
</header>

<div class="menu-container">
  <h2 class="menu-title">Menú de Sushis</h2>

  <div class="product-grid">
    <div class="product-card" *ngFor="let item of productos">
      <img [src]="item.imagenUrl" alt="{{ item.nombre }}" class="product-img" />
      <div class="product-info">
        <h3 class="product-name">{{ item.nombre }}</h3>
        <p class="product-desc">{{ item.descripcion }}</p>
        <div class="product-footer">
        <span class="product-price">${{ item.precio }}</span>
        <button class="nav-btn add-cart-btn" (click)="agregarAlCarrito(item)">
      🛒 Agregar al Carrito
    </button>
      </div>
    </div>
  </div>
</div>
