.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a2b38;
  padding: 10px 20px;
  border-bottom: 2px solid #ffeba7;
}

.brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffeba7;
}

.nav-center {
  display: flex;
  gap: 15px;
  flex: 1;              
  justify-content: center; 
  margin-left: 200px;
}

.user-actions {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background: transparent;
  border: 1px solid #ffeba7;
  border-radius: 4px;
  padding: 0.4em 0.8em;
  color: #ffeba7;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.nav-btn:hover {
  background-color: #ffeba7;
  color: #2a2b38;
}

.home-content {
  height: calc(100vh - 60px); 
  background-color: #282828; 
}
