.splash-container { /* contenedor principal del splash */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e; 
}

.logo { /* estilo del logo */
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.percentage { /* estilo del texto de porcentaje */
  font-size: 24px;
  font-weight: bold;
  color: #c9c9c9;
}
